<h1 class="top">人気配信者になってちやほやされる気分が味わえるアプリ。</h1>
<p class="top-start">配信開始！</p>
<%= link_to image_tag("start_button.png", size: "300x200", class:"start-btn"), stream_comments_path, onclick: "window.open('http://localhost:3000/comments/stream','stream_comments', 'height=800, width=400, scrollbars=yes');" %>